<?xml version="1.0"?>
<!-- 
File taken from the gym-pybullet-drones project
doi: 10.1109/IROS51168.2021.9635857
University of Toronto's Dynamic Systems Lab / Vector Institute / University of Cambridge's Prorok
Lab
MIT License
https://github.com/utiasDSL/gym-pybullet-drones
-->
<robot name="architrave">
  <link name="base_link">

    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.3" />
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0" />
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size=".8 .05 .05" />
      </geometry>
      <material name="grey">
        <color rgba=".5 .5 .5 1" />
      </material>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size=".8 .05 .05" />
      </geometry>
    </collision>

  </link>
</robot>